.DS_Store

.vscode/

*~
*.bak
*.backup
.#*

# LaTeX aux files

*.aux
*.log
*.toc
*.lof
*.lot
*.fls
*.out
*.fdb_latexmk
*.synctex.gz

*.bbl
*.blg

*.idx
*.ind
*.ilg

*.nav
*.snm
*.vrb
*.lol
*.loe

# latexmk 
*.xdv

# The thesis PDF
# these.pdf

theseCOUV1.pdf
theseCOUV2.pdf

# minitoc aux files
*.mtc*
*.maf
*.mlf*
*.mlt*
*.ptc*
*.stc*
